
<IfModule rewrite_module>
#OR<IfModule mod_rewrite.c>
#OR<IfModule mod_rewrite.so>
    # according to apache-documentation, followsymlinks is needed for mod_rewrite
    Options +FollowSymLinks
    # Enable the RewriteEngine
    RewriteEngine On
    # rewrite all requests that passed the conditions to the file index.php
    RewriteRule .* index.html
</IfModule>
