<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>Admin Pieseł</title>
  <!-- preloader -->

  <style>
    .ip-header {
      height: 100%;
  	width: 100%;
  	position: fixed;
  	z-index: 1;
  	margin-top: 0px;
  	top: 0px;
  	background: RGB(90, 163, 176);
  }

    #loading-center{
  	width: 100%;
  	height: 100%;
  	position: relative;
  }
  #loading-center-absolute {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	height: 200px;
  	width: 200px;
  	margin-top: -100px;
  	margin-left: -100px;
  }

  .object{
    -moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-left: 5px solid #FFF;
	border-right: 5px solid #FFF;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;
	}

#object_one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
	}

#object_two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	-webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
	}

#object_three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
	}
#object_four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	-webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;

	}

@-webkit-keyframes animate {


50% {
	-ms-transform: rotate(180deg);
   	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

100% {
	-ms-transform: rotate(0deg);
   	-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

}

@keyframes animate {

50% {
	-ms-transform: rotate(180deg);
   	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

100% {
	-ms-transform: rotate(0deg);
   	-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }


}
  @-webkit-keyframes animate {
    0% { -webkit-transform: perspective(160px); }
    50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
    100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
  }

  @keyframes animate {
    0% {
      transform: perspective(160px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
      transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    }
  }



  </style>
</head>
<body>
  </div id="ip-container" class="ip-container">

  <header class="ip-header">

	<div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_four"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_one"></div>
    </div>
  </div>

	</header>
  <div id="app">

  </div>
  </div>
</body>
<script type="text/javascript">
$(document).ready(function () {

  // preloader
  $(window).load(function(){
    $('.ip-header').delay(400).fadeOut(500);
  })

})
</script>
</html>
